/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


/* Fuentes y base */
body {
    font-family: 'Bubblegum Sans', cursive;
    background-color: #1b1b1b;
    color: #f0f0f0;
    margin: 20px;
    line-height: 1.6;

    padding-top: 120px; 
}

/* Encabezados */
h1 {
    font-size: 3vw;              
    font-family: 'Luckiest Guy', cursive;
    color: #FF8E00;              
    margin: 0;
    padding: 10px 0;             
    background-color: #2b2b2b;   
    text-align: center;          
    text-shadow: 2px 2px #ffd500;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;                  
    z-index: 1000;
    border-bottom: 3px solid #ffd500; 
}

h2, h3 {
    font-family: 'Coiny', cursive;
    color: #FF8E00;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
}

/* Enlaces */
a {
    color: #00ffff; 
    text-decoration: none;
}

a:hover {
    color: #ffd500;
}


