/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


/* Fuentes y base */
body {
    font-family: 'Bubblegum Sans', cursive;
    background-color: #1b1b1b;
    color: #f0f0f0;
    margin: 20px;
    line-height: 1.6;

    padding-top: 120px; 
}

/* Encabezados */
h1 {
    font-size: 3vw;              
    font-family: 'Luckiest Guy', cursive;
    color: #FF8E00;              
    margin: 0;
    padding: 10px 0;             
    background-color: #2b2b2b;   
    text-align: center;          
    text-shadow: 2px 2px #ffd500;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;                  
    z-index: 1000;
    border-bottom: 3px solid #ffd500; 
}

h2, h3 {
    font-family: 'Coiny', cursive;
    color: #FF8E00;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
}

/* Enlaces */
a {
    color: #00ffff; 
    text-decoration: none;
}

a:hover {
    color: #ffd500;
}


/* Listas */
ol, ul {
    margin-left: 40px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    font-family: 'Courier New', monospace;
}

th, td {
    border: 2px solid #00ffff;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333333;
    color: #ffd500;
}

td {
    background-color: #222222;
}

/* Captions de tabla */
caption {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #ffd500;
}

/* Imágenes */
img {
    border: 3px solid #FF8E00;
    margin: 10px 0;
}

/* Botones de descarga (imagen) */
a img {
    transition: transform 0.2s ease-in-out;
}

a img:hover {
    transform: scale(1.1);
}

/* Secciones */
section {
    margin-top: 30px;
    padding: 10px;
    border: 2px solid #FF8E00;
    background-color: #2b2b2b;
}

/* Navegación redes */
nav a {
    margin-right: 20px;
}

nav img {
    vertical-align: middle;
    transition: transform 0.2s;
}

nav img:hover {
    transform: scale(1.2);
}


/* Contenedor de tablas con Flexbox */
.tablas-container {
    display: flex;
    gap: 20px;                 
    justify-content: center;   
    align-items: flex-start;   
    flex-wrap: wrap;           
}

/* Secciones de tablas */
.tablas-container section {
    flex: 1 1 500px;           
    max-width: 600px;         
}
